.container {
  background-color: #f9fff1;
  padding: 28px 18px 22px 30px;
  display: flex;
  justify-content: space-between;

  &__buttons {
    display: flex;
    gap: 6px;
  }

  &__modalTitle {
    font-size: 30px;
    color: 'black';
    font-weight: 700;
    margin-top: 10px;
  }
  &__modalLabel {
    font-size: 20px;
    color: black;
    font-weight: 600;
  }
  &__mobileMenu {
    display: none;
    position: relative;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__desktopLogo {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__desktopNav {
    @media (max-width: 768px) {
      display: none !important;
    }
  }

  &__participantsScroll {
    margin-top: 10px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 4px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #c7cfe6;
      border-radius: 10px;

      &:hover {
        background: #b8c0dd;
      }
    }
  }
}
