.container {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #ffb600;
  overflow: hidden !important;
  position: relative;

  &__img {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    z-index: 0 !important;
  }

  @media (max-width: 768px) {
    .container {
      &__img {
        // width: unset !important;
        // height: unset !important;
        // max-width: 100% !important;
        // max-height: 100% !important;
        // object-fit: cover;
        // top: 30%;
        display: none;
      }
    }
  }
}
